
h1.colorful {
    font-size: 3.5rem;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.activities {
    min-width: 14em;
    max-width: 20em;
}

.activities .card-header {
    font-size: 1rem;
}

.activities .card-text {
    font-size: .875rem;
}

.activities .card-footer {
    font-size: .6rem;
}

footer {
    font-size: .8rem;
    text-align: left;
}

footer a {
    font-weight: 600;
}

.footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.footer-links li {
    display: inline-block;
    margin-right: 1rem;
}

.category_row_1 {
    background-color: #A5CBFF;
}

.btn-category_1 {
    color: #FFFFFF;
    background-color: #A5CBFF;
    border-color: #73ABFA;
}

.btn-category_1:hover,
.btn-category_1:focus,
.btn-category_1:active,
.btn-category_1.active,
.open .dropdown-toggle.btn-category_1 {
    color: #FFFFFF;
    background-color: #7DADF0;
    border-color: #73ABFA;
}

.btn-category_1:active,
.btn-category_1.active,
.open .dropdown-toggle.btn-category_1 {
    background-image: none;
}

.btn-category_1.disabled,
.btn-category_1[disabled],
fieldset[disabled] .btn-category_1,
.btn-category_1.disabled:hover,
.btn-category_1[disabled]:hover,
fieldset[disabled] .btn-category_1:hover,
.btn-category_1.disabled:focus,
.btn-category_1[disabled]:focus,
fieldset[disabled] .btn-category_1:focus,
.btn-category_1.disabled:active,
.btn-category_1[disabled]:active,
fieldset[disabled] .btn-category_1:active,
.btn-category_1.disabled.active,
.btn-category_1[disabled].active,
fieldset[disabled] .btn-category_1.active {
    background-color: #A5CBFF;
    border-color: #73ABFA;
}

.btn-category_1 .badge {
    color: #A5CBFF;
    background-color: #FFFFFF;
}

.category_row_2 {
    background-color: #FFB9FD;
}

.btn-category_2 {
    color: #FFFFFF;
    background-color: #FFB9FD;
    border-color: #F0ADEE;
}

.btn-category_2:hover,
.btn-category_2:focus,
.btn-category_2:active,
.btn-category_2.active,
.open .dropdown-toggle.btn-category_2 {
    color: #FFFFFF;
    background-color: #E890E5;
    border-color: #F0ADEE;
}

.btn-category_2:active,
.btn-category_2.active,
.open .dropdown-toggle.btn-category_2 {
    background-image: none;
}

.btn-category_2.disabled,
.btn-category_2[disabled],
fieldset[disabled] .btn-category_2,
.btn-category_2.disabled:hover,
.btn-category_2[disabled]:hover,
fieldset[disabled] .btn-category_2:hover,
.btn-category_2.disabled:focus,
.btn-category_2[disabled]:focus,
fieldset[disabled] .btn-category_2:focus,
.btn-category_2.disabled:active,
.btn-category_2[disabled]:active,
fieldset[disabled] .btn-category_2:active,
.btn-category_2.disabled.active,
.btn-category_2[disabled].active,
fieldset[disabled] .btn-category_2.active {
    background-color: #FFB9FD;
    border-color: #F0ADEE;
}

.btn-category_2 .badge {
    color: #FFB9FD;
    background-color: #FFFFFF;
}

.category_row_3 {
    background-color: #B3E69C;
}

.btn-category_3 {
    color: #FFFFFF;
    background-color: #B3E69C;
    border-color: #A1E084;
}

.btn-category_3:hover,
.btn-category_3:focus,
.btn-category_3:active,
.btn-category_3.active,
.open .dropdown-toggle.btn-category_3 {
    color: #FFFFFF;
    background-color: #96DB77;
    border-color: #A1E084;
}

.btn-category_3:active,
.btn-category_3.active,
.open .dropdown-toggle.btn-category_3 {
    background-image: none;
}

.btn-category_3.disabled,
.btn-category_3[disabled],
fieldset[disabled] .btn-category_3,
.btn-category_3.disabled:hover,
.btn-category_3[disabled]:hover,
fieldset[disabled] .btn-category_3:hover,
.btn-category_3.disabled:focus,
.btn-category_3[disabled]:focus,
fieldset[disabled] .btn-category_3:focus,
.btn-category_3.disabled:active,
.btn-category_3[disabled]:active,
fieldset[disabled] .btn-category_3:active,
.btn-category_3.disabled.active,
.btn-category_3[disabled].active,
fieldset[disabled] .btn-category_3.active {
    background-color: #B3E69C;
    border-color: #A1E084;
}

.btn-category_3 .badge {
    color: #B3E69C;
    background-color: #FFFFFF;
}

.category_row_4 {
    background-color: #FFC4A2;
}

.btn-category_4 {
    color: #FFFFFF;
    background-color: #FFC4A2;
    border-color: #EBAF8D;
}

.btn-category_4:hover,
.btn-category_4:focus,
.btn-category_4:active,
.btn-category_4.active,
.open .dropdown-toggle.btn-category_4 {
    color: #FFFFFF;
    background-color: #F79963;
    border-color: #EBAF8D;
}

.btn-category_4:active,
.btn-category_4.active,
.open .dropdown-toggle.btn-category_4 {
    background-image: none;
}

.btn-category_4.disabled,
.btn-category_4[disabled],
fieldset[disabled] .btn-category_4,
.btn-category_4.disabled:hover,
.btn-category_4[disabled]:hover,
fieldset[disabled] .btn-category_4:hover,
.btn-category_4.disabled:focus,
.btn-category_4[disabled]:focus,
fieldset[disabled] .btn-category_4:focus,
.btn-category_4.disabled:active,
.btn-category_4[disabled]:active,
fieldset[disabled] .btn-category_4:active,
.btn-category_4.disabled.active,
.btn-category_4[disabled].active,
fieldset[disabled] .btn-category_4.active {
    background-color: #FFC4A2;
    border-color: #EBAF8D;
}

.btn-category_4 .badge {
    color: #FFC4A2;
    background-color: #FFFFFF;
}

.category_row_5 {
    background-color: #B49FFF;
}

.btn-category_5 {
    color: #ffffff;
    background-color: #B49FFF;
    border-color: #967FE8;
}

.btn-category_5:hover,
.btn-category_5:focus,
.btn-category_5:active,
.btn-category_5.active,
.open .dropdown-toggle.btn-category_5 {
    color: #ffffff;
    background-color: #947AF0;
    border-color: #967FE8;
}

.btn-category_5:active,
.btn-category_5.active,
.open .dropdown-toggle.btn-category_5 {
    background-image: none;
}

.btn-category_5.disabled,
.btn-category_5[disabled],
fieldset[disabled] .btn-category_5,
.btn-category_5.disabled:hover,
.btn-category_5[disabled]:hover,
fieldset[disabled] .btn-category_5:hover,
.btn-category_5.disabled:focus,
.btn-category_5[disabled]:focus,
fieldset[disabled] .btn-category_5:focus,
.btn-category_5.disabled:active,
.btn-category_5[disabled]:active,
fieldset[disabled] .btn-category_5:active,
.btn-category_5.disabled.active,
.btn-category_5[disabled].active,
fieldset[disabled] .btn-category_5.active {
    background-color: #B49FFF;
    border-color: #967FE8;
}

.btn-category_5 .badge {
    color: #B49FFF;
    background-color: #ffffff;
}

.category_row_6 {
    background-color: #E1E87B;
}

.btn-category_6 {
    color: #FFFFFF;
    background-color: #E1E87B;
    border-color: #C2CC39;
}

.btn-category_6:hover,
.btn-category_6:focus,
.btn-category_6:active,
.btn-category_6.active,
.open .dropdown-toggle.btn-category_6 {
    color: #FFFFFF;
    background-color: #D6E043;
    border-color: #C2CC39;
}

.btn-category_6:active,
.btn-category_6.active,
.open .dropdown-toggle.btn-category_6 {
    background-image: none;
}

.btn-category_6.disabled,
.btn-category_6[disabled],
fieldset[disabled] .btn-category_6,
.btn-category_6.disabled:hover,
.btn-category_6[disabled]:hover,
fieldset[disabled] .btn-category_6:hover,
.btn-category_6.disabled:focus,
.btn-category_6[disabled]:focus,
fieldset[disabled] .btn-category_6:focus,
.btn-category_6.disabled:active,
.btn-category_6[disabled]:active,
fieldset[disabled] .btn-category_6:active,
.btn-category_6.disabled.active,
.btn-category_6[disabled].active,
fieldset[disabled] .btn-category_6.active {
    background-color: #E1E87B;
    border-color: #C2CC39;
}

.btn-category_6 .badge {
    color: #E1E87B;
    background-color: #FFFFFF;
}

.category_row_7 {
    background-color: #84EBE4;
}

.btn-category_7 {
    color: #ffffff;
    background-color: #84EBE4;
    border-color: #60CCC5;
}

.btn-category_7:hover,
.btn-category_7:focus,
.btn-category_7:active,
.btn-category_7.active,
.open .dropdown-toggle.btn-category_7 {
    color: #ffffff;
    background-color: #60CCC5;
    border-color: #60CCC5;
}

.btn-category_7:active,
.btn-category_7.active,
.open .dropdown-toggle.btn-category_7 {
    background-image: none;
}

.btn-category_7.disabled,
.btn-category_7[disabled],
fieldset[disabled] .btn-category_7,
.btn-category_7.disabled:hover,
.btn-category_7[disabled]:hover,
fieldset[disabled] .btn-category_7:hover,
.btn-category_7.disabled:focus,
.btn-category_7[disabled]:focus,
fieldset[disabled] .btn-category_7:focus,
.btn-category_7.disabled:active,
.btn-category_7[disabled]:active,
fieldset[disabled] .btn-category_7:active,
.btn-category_7.disabled.active,
.btn-category_7[disabled].active,
fieldset[disabled] .btn-category_7.active {
    background-color: #84EBE4;
    border-color: #60CCC5;
}

.btn-category_7 .badge {
    color: #84EBE4;
    background-color: #ffffff;
}
