
h1.colorful {
    font-size: 3.5rem;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.activities {
    min-width: 14em;
    max-width: 20em;
}

.activities .card-header {
    font-size: 1rem;
}

.comments .user-area .card-text {
    font-size: .675rem;
}

.comments .card-text,
.activities .card-text {
    font-size: .875rem;
}

.comments .card-footer,
.activities .card-footer {
    font-size: .6rem;
}

.comments .comment-text {
    background-color: #F7F7F7;
    border: 1px solid #E2DCE1;
    border-radius: 4px;
}

footer {
    font-size: .8rem;
    text-align: left;
}

footer a {
    font-weight: 600;
}

.footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.footer-links li {
    display: inline-block;
    margin-right: 1rem;
}

section.category-1,
.category-1 {
    background-color: #A5CBFF;
}

.text-category-1 {
    color: #A5CBFF;
}

.text-category-1:hover,
.text-category-1:focus,
.text-category-1:active,
.text-category-1.active,
.open .dropdown-toggle.text-category-1 {
    color: #7DADF0;
}

.btn-category-1 {
    color: #FFFFFF;
    background-color: #A5CBFF;
    border-color: #73ABFA;
}

.btn-category-1:hover,
.btn-category-1:focus,
.btn-category-1:active,
.btn-category-1.active,
.open .dropdown-toggle.btn-category-1 {
    color: #FFFFFF;
    background-color: #7DADF0;
    border-color: #73ABFA;
}

.btn-category-1:active,
.btn-category-1.active,
.open .dropdown-toggle.btn-category-1 {
    background-image: none;
}

.btn-category-1.disabled,
.btn-category-1[disabled],
fieldset[disabled] .btn-category-1,
.btn-category-1.disabled:hover,
.btn-category-1[disabled]:hover,
fieldset[disabled] .btn-category-1:hover,
.btn-category-1.disabled:focus,
.btn-category-1[disabled]:focus,
fieldset[disabled] .btn-category-1:focus,
.btn-category-1.disabled:active,
.btn-category-1[disabled]:active,
fieldset[disabled] .btn-category-1:active,
.btn-category-1.disabled.active,
.btn-category-1[disabled].active,
fieldset[disabled] .btn-category-1.active {
    background-color: #A5CBFF;
    border-color: #73ABFA;
}

.btn-category-1 .badge {
    color: #A5CBFF;
    background-color: #FFFFFF;
}

.category-2 {
    background-color: #FFB9FD;
}

.text-category-2 {
    color: #FFB9FD;
}

.text-category-2:hover,
.text-category-2:focus,
.text-category-2:active,
.text-category-2.active,
.open .dropdown-toggle.text-category-2 {
    color: #F0ADEE;
}

.btn-category-2 {
    color: #FFFFFF;
    background-color: #FFB9FD;
    border-color: #F0ADEE;
}

.btn-category-2:hover,
.btn-category-2:focus,
.btn-category-2:active,
.btn-category-2.active,
.open .dropdown-toggle.btn-category-2 {
    color: #FFFFFF;
    background-color: #E890E5;
    border-color: #F0ADEE;
}

.btn-category-2:active,
.btn-category-2.active,
.open .dropdown-toggle.btn-category-2 {
    background-image: none;
}

.btn-category-2.disabled,
.btn-category-2[disabled],
fieldset[disabled] .btn-category-2,
.btn-category-2.disabled:hover,
.btn-category-2[disabled]:hover,
fieldset[disabled] .btn-category-2:hover,
.btn-category-2.disabled:focus,
.btn-category-2[disabled]:focus,
fieldset[disabled] .btn-category-2:focus,
.btn-category-2.disabled:active,
.btn-category-2[disabled]:active,
fieldset[disabled] .btn-category-2:active,
.btn-category-2.disabled.active,
.btn-category-2[disabled].active,
fieldset[disabled] .btn-category-2.active {
    background-color: #FFB9FD;
    border-color: #F0ADEE;
}

.btn-category-2 .badge {
    color: #FFB9FD;
    background-color: #FFFFFF;
}

.category-3 {
    background-color: #B3E69C;
}

.text-category-3 {
    color: #B3E69C;
}

.text-category-3:hover,
.text-category-3:focus,
.text-category-3:active,
.text-category-3.active,
.open .dropdown-toggle.text-category-3 {
    color: #A1E084;
}

.btn-category-3 {
    color: #FFFFFF;
    background-color: #B3E69C;
    border-color: #A1E084;
}

.btn-category-3:hover,
.btn-category-3:focus,
.btn-category-3:active,
.btn-category-3.active,
.open .dropdown-toggle.btn-category-3 {
    color: #FFFFFF;
    background-color: #96DB77;
    border-color: #A1E084;
}

.btn-category-3:active,
.btn-category-3.active,
.open .dropdown-toggle.btn-category-3 {
    background-image: none;
}

.btn-category-3.disabled,
.btn-category-3[disabled],
fieldset[disabled] .btn-category-3,
.btn-category-3.disabled:hover,
.btn-category-3[disabled]:hover,
fieldset[disabled] .btn-category-3:hover,
.btn-category-3.disabled:focus,
.btn-category-3[disabled]:focus,
fieldset[disabled] .btn-category-3:focus,
.btn-category-3.disabled:active,
.btn-category-3[disabled]:active,
fieldset[disabled] .btn-category-3:active,
.btn-category-3.disabled.active,
.btn-category-3[disabled].active,
fieldset[disabled] .btn-category-3.active {
    background-color: #B3E69C;
    border-color: #A1E084;
}

.btn-category-3 .badge {
    color: #B3E69C;
    background-color: #FFFFFF;
}

.category-4 {
    background-color: #FFC4A2;
}

.text-category-4 {
    color: #FFC4A2;
}

.text-category-4:hover,
.text-category-4:focus,
.text-category-4:active,
.text-category-4.active,
.open .dropdown-toggle.text-category-4 {
    color: #F79963;
}

.btn-category-4 {
    color: #FFFFFF;
    background-color: #FFC4A2;
    border-color: #EBAF8D;
}

.btn-category-4:hover,
.btn-category-4:focus,
.btn-category-4:active,
.btn-category-4.active,
.open .dropdown-toggle.btn-category-4 {
    color: #FFFFFF;
    background-color: #F79963;
    border-color: #EBAF8D;
}

.btn-category-4:active,
.btn-category-4.active,
.open .dropdown-toggle.btn-category-4 {
    background-image: none;
}

.btn-category-4.disabled,
.btn-category-4[disabled],
fieldset[disabled] .btn-category-4,
.btn-category-4.disabled:hover,
.btn-category-4[disabled]:hover,
fieldset[disabled] .btn-category-4:hover,
.btn-category-4.disabled:focus,
.btn-category-4[disabled]:focus,
fieldset[disabled] .btn-category-4:focus,
.btn-category-4.disabled:active,
.btn-category-4[disabled]:active,
fieldset[disabled] .btn-category-4:active,
.btn-category-4.disabled.active,
.btn-category-4[disabled].active,
fieldset[disabled] .btn-category-4.active {
    background-color: #FFC4A2;
    border-color: #EBAF8D;
}

.btn-category-4 .badge {
    color: #FFC4A2;
    background-color: #FFFFFF;
}

.category-5 {
    background-color: #B49FFF;
}

.text-category-5 {
    color: #B49FFF;
}

.text-category-5:hover,
.text-category-5:focus,
.text-category-5:active,
.text-category-5.active,
.open .dropdown-toggle.text-category-5 {
    color: #947AF0;
}

.btn-category-5 {
    color: #ffffff;
    background-color: #B49FFF;
    border-color: #967FE8;
}

.btn-category-5:hover,
.btn-category-5:focus,
.btn-category-5:active,
.btn-category-5.active,
.open .dropdown-toggle.btn-category-5 {
    color: #ffffff;
    background-color: #947AF0;
    border-color: #967FE8;
}

.btn-category-5:active,
.btn-category-5.active,
.open .dropdown-toggle.btn-category-5 {
    background-image: none;
}

.btn-category-5.disabled,
.btn-category-5[disabled],
fieldset[disabled] .btn-category-5,
.btn-category-5.disabled:hover,
.btn-category-5[disabled]:hover,
fieldset[disabled] .btn-category-5:hover,
.btn-category-5.disabled:focus,
.btn-category-5[disabled]:focus,
fieldset[disabled] .btn-category-5:focus,
.btn-category-5.disabled:active,
.btn-category-5[disabled]:active,
fieldset[disabled] .btn-category-5:active,
.btn-category-5.disabled.active,
.btn-category-5[disabled].active,
fieldset[disabled] .btn-category-5.active {
    background-color: #B49FFF;
    border-color: #967FE8;
}

.btn-category-5 .badge {
    color: #B49FFF;
    background-color: #ffffff;
}

.category-6 {
    background-color: #E1E87B;
}

.text-category-6 {
    color: #E1E87B;
}

.text-category-6:hover,
.text-category-6:focus,
.text-category-6:active,
.text-category-6.active,
.open .dropdown-toggle.text-category-6 {
    color: #D6E043;
}

.btn-category-6 {
    color: #FFFFFF;
    background-color: #E1E87B;
    border-color: #C2CC39;
}

.btn-category-6:hover,
.btn-category-6:focus,
.btn-category-6:active,
.btn-category-6.active,
.open .dropdown-toggle.btn-category-6 {
    color: #FFFFFF;
    background-color: #D6E043;
    border-color: #C2CC39;
}

.btn-category-6:active,
.btn-category-6.active,
.open .dropdown-toggle.btn-category-6 {
    background-image: none;
}

.btn-category-6.disabled,
.btn-category-6[disabled],
fieldset[disabled] .btn-category-6,
.btn-category-6.disabled:hover,
.btn-category-6[disabled]:hover,
fieldset[disabled] .btn-category-6:hover,
.btn-category-6.disabled:focus,
.btn-category-6[disabled]:focus,
fieldset[disabled] .btn-category-6:focus,
.btn-category-6.disabled:active,
.btn-category-6[disabled]:active,
fieldset[disabled] .btn-category-6:active,
.btn-category-6.disabled.active,
.btn-category-6[disabled].active,
fieldset[disabled] .btn-category-6.active {
    background-color: #E1E87B;
    border-color: #C2CC39;
}

.btn-category-6 .badge {
    color: #E1E87B;
    background-color: #FFFFFF;
}

.category-7 {
    background-color: #84EBE4;
}

.text-category-7 {
    color: #84EBE4;
}

.text-category-7:hover,
.text-category-7:focus,
.text-category-7:active,
.text-category-7.active,
.open .dropdown-toggle.text-category-5 {
    color: #60CCC5;
}

.btn-category-7 {
    color: #ffffff;
    background-color: #84EBE4;
    border-color: #60CCC5;
}

.btn-category-7:hover,
.btn-category-7:focus,
.btn-category-7:active,
.btn-category-7.active,
.open .dropdown-toggle.btn-category-7 {
    color: #ffffff;
    background-color: #60CCC5;
    border-color: #60CCC5;
}

.btn-category-7:active,
.btn-category-7.active,
.open .dropdown-toggle.btn-category-7 {
    background-image: none;
}

.btn-category-7.disabled,
.btn-category-7[disabled],
fieldset[disabled] .btn-category-7,
.btn-category-7.disabled:hover,
.btn-category-7[disabled]:hover,
fieldset[disabled] .btn-category-7:hover,
.btn-category-7.disabled:focus,
.btn-category-7[disabled]:focus,
fieldset[disabled] .btn-category-7:focus,
.btn-category-7.disabled:active,
.btn-category-7[disabled]:active,
fieldset[disabled] .btn-category-7:active,
.btn-category-7.disabled.active,
.btn-category-7[disabled].active,
fieldset[disabled] .btn-category-7.active {
    background-color: #84EBE4;
    border-color: #60CCC5;
}

.btn-category-7 .badge {
    color: #84EBE4;
    background-color: #ffffff;
}
